# Godot
.godot/
*.import

# Documentation
doc/godotdocu/

# Logs
logs/

# Builds
builds/
*.exe
*.pck
*.zip

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.bakEXE.rar
